@use 'sass:map';
@use '@angular/material' as mat;


$_palettes: (
  primary: (
    0: #000000,
    10: #410001,
    20: #690002,
    25: #7e0004,
    30: #930005,
    35: #a90107,
    40: #bb1614,
    50: #e0342a,
    60: #ff5545,
    70: #ff8a7b,
    80: #ffb4a9,
    90: #ffdad5,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #2b1700,
    20: #472a00,
    25: #563400,
    30: #663e00,
    35: #764800,
    40: #865300,
    50: #a86900,
    60: #cb8000,
    70: #ed9912,
    80: #ffb961,
    90: #ffddb9,
    95: #ffeede,
    98: #fff8f4,
    99: #fffbff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #261a00,
    20: #3e2e04,
    25: #4b390e,
    30: #574419,
    35: #645023,
    40: #705c2e,
    50: #8b7444,
    60: #a68e5b,
    70: #c2a873,
    80: #dfc38c,
    90: #fcdfa6,
    95: #ffefd4,
    98: #fff8f2,
    99: #fffbff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    4: #000c0e,
    6: #001316,
    10: #001f24,
    12: #002429,
    17: #002f35,
    20: #00363d,
    22: #003b42,
    24: #004047,
    25: #00424a,
    30: #004f58,
    35: #005b66,
    40: #006874,
    50: #008391,
    60: #00a0b0,
    70: #22bccf,
    80: #4fd8eb,
    87: #81e9f9,
    90: #97f0ff,
    92: #aef3ff,
    94: #c5f6ff,
    95: #d0f8ff,
    96: #daf9ff,
    98: #edfcff,
    99: #f6feff,
    100: #ffffff,
  ),
  neutral-variant: (
    0: #000000,
    10: #251917,
    20: #3b2d2b,
    25: #473836,
    30: #534341,
    35: #5f4f4c,
    40: #6b5a58,
    50: #857370,
    60: #a08c89,
    70: #bba7a4,
    80: #d8c2be,
    90: #f5ddda,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes,  neutral-variant),
  error: map.get($_palettes, error),
);
$_primary: map.merge(map.get($_palettes, primary), $_rest);
$_tertiary: map.merge(map.get($_palettes, tertiary), $_rest);

$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: $_primary,
    tertiary: $_tertiary,
  ),
));