<footer
  class="grid min-w-full grid-cols-1 grid-rows-3 py-3 place-items-center md:grid-cols-3 md:grid-rows-1 bg-primary-20"
>
  <!-- logo -->
  <div class="flex items-center justify-center gap-2">
    <img class="w-10" src="favicon.png" />
    <h2 class="text-xl text-primary-80">Convertix</h2>
  </div>

  <!-- links -->
  <div class="grid gap-2 place-items-center">
    <h2 class="text-xl text-primary-80">Páginas</h2>
    <nav class="grid place-items-center">
      <a mat-button routerLink="/">
        <span class="text-primary-foreground">Moedas</span>
      </a>
      <a mat-button routerLink="/">
        <span class="text-primary-foreground">Conversor</span>
      </a>
      <a mat-button routerLink="/">
        <span class="text-primary-foreground">Histórico</span>
      </a>
    </nav>
  </div>

  <!-- Redirects -->
  <div class="grid gap-3 place-items-center">
    <h2 class="text-xl text-primary-80">Saiba mais</h2>
    <div class="grid grid-cols-2 gap-3 place-items-center">
      <a
        class="transition hover:text-primary-80"
        matTooltip="Frank Furter API"
        href="https://www.frankfurter.app/"
        target="_blank"
      >
        <fa-icon size="lg" [icon]="link" />
      </a>
      <a
        class="transition hover:text-primary-80"
        matTooltip="Repositório"
        href="https://github.com/VictorJGB/convertix"
        target="_blank"
      >
        <fa-icon size="lg" [icon]="github" />
      </a>
    </div>
  </div>
</footer>
