<div
  class="flex flex-col items-center justify-start col-span-1 row-span-1 gap-4 py-10"
>
  <h1 class="text-2xl text-center lg:text-3xl">Conversor de moedas</h1>

  <!-- Form -->
  <form
    [formGroup]="convertForm"
    class="container flex items-center justify-center gap-6"
  >
    <!-- amount form field -->
    <mat-form-field>
      <mat-label>Quantidade</mat-label>
      <input type="number" formControlName="amount" matInput />
    </mat-form-field>

    <!-- FROM form field -->
    <mat-form-field>
      <mat-label>Moeda de Origem</mat-label>
      <mat-select formControlName="from" required>
        <mat-option>--</mat-option>
        @for (animal of animals; track animal) {
        <mat-option [value]="animal">{{ animal.name }}</mat-option>
        }
      </mat-select>
      @if (formControl.hasError('required')) {
      <mat-error>Please choose an animal</mat-error>
      }
      <mat-hint>{{ formControl.value?.sound }}</mat-hint>
    </mat-form-field>

    <!-- TO form field -->
    <mat-form-field>
      <mat-label>Moeda de Destino</mat-label>
      <mat-select formControlName="to" required>
        <mat-option>--</mat-option>
        @for (animal of animals; track animal) {
        <mat-option [value]="animal">{{ animal.name }}</mat-option>
        }
      </mat-select>
      @if (formControl.hasError('required')) {
      <mat-error>Please choose an animal</mat-error>
      }
      <mat-hint>{{ formControl.value?.sound }}</mat-hint>
    </mat-form-field>
  </form>
</div>
