<div
  class="grid grid-cols-1 md:grid-cols-2 grid-rows-2 md:grid-rows-1 col-span-1 row-span-1"
>
  <!-- image -->
  <div class="items-center grid">
    <h1>image</h1>
  </div>

  <!-- info -->
  <div class="items-center grid">
    <h1>Infos</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi, corporis?
      Laboriosam earum eum a! Fugit quam quis, saepe repellat ea beatae. Placeat
      fuga blanditiis quos rerum alias itaque sapiente ducimus. Aspernatur
      commodi ea debitis ipsam, dolor eligendi consequuntur aperiam perferendis?
    </p>
    <div>
      <h1>links</h1>
    </div>
  </div>
</div>
