<div
  class="flex flex-col items-center justify-center gap-3 py-4 lg:py-8 size-full lg:flex-row"
>
  <!-- image -->
  <div class="grid w-full lg:w-1/2 place-items-center">
    <img
      class="object-scale-down w-1/2 lg:w-2/3 xl:w-1/2"
      src="/assets/home/financial.png"
      alt="Financeiro"
    />
  </div>

  <!-- info -->
  <div
    class="flex flex-col items-center justify-center w-full gap-2 px-10 lg:w-1/2 lg:items-start"
  >
    <h1 class="text-2xl font-medium lg:text-3xl text-primary-80">
      Rápido, Fácil e Intuitivo
    </h1>
    <p class="text-center lg:text-start">
      O Conversor de Moedas
      <span class="font-medium text-primary-80">Convertix</span> é uma
      ferramenta inovadora e fácil de usar que permite converter valores entre
      diferentes moedas em tempo real. Com uma interface intuitiva e design
      moderno, o projeto oferece uma experiência de usuário agradável e
      eficiente.
    </p>
    <div
      class="grid gap-3 mt-6 place-items-center place-content-center lg:place-items-start"
    >
      <h1 class="text-xl font-medium text-primary-80">Feito com</h1>
      <div class="flex flex-wrap items-start justify-center gap-2">
        <a href="https://angular.dev/" target="_blank">
          <mat-chip matTooltip="Clique e saiba Mais">Angular</mat-chip></a
        >
        <a href="https://tailwindcss.com/" target="_blank">
          <mat-chip matTooltip="Clique e saiba Mais">TailwindCSS</mat-chip></a
        >
        <a href="https://material.angular.io/" target="_blank">
          <mat-chip matTooltip="Clique e saiba Mais">Angular Material</mat-chip>
        </a>
        <a href="https://www.frankfurter.app/" target="_blank">
          <mat-chip matTooltip="Clique e saiba Mais">FrankFurter API</mat-chip>
        </a>
      </div>
    </div>
  </div>
</div>
