@if(!dataSource.data.length) { <p class="text-center">
  Sem registros

</p>
}
@if(dataSource.data.length) {
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- origin Column -->
  <ng-container matColumnDef="originCoin">
    <th mat-header-cell *matHeaderCellDef> Moeda de Origem </th>
    <td mat-cell *matCellDef="let element"> {{element.originCoin}} </td>
  </ng-container>

  <!-- destination Column -->
  <ng-container matColumnDef="destinationCoin">
    <th mat-header-cell *matHeaderCellDef> Moeda de Destino </th>
    <td mat-cell *matCellDef="let element"> {{element.destinationCoin}} </td>
  </ng-container>

  <!-- amount Column -->
  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef> Valor </th>
    <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
  </ng-container>

  <!-- result Column -->
  <ng-container matColumnDef="result">
    <th mat-header-cell *matHeaderCellDef> Resultado </th>
    <td mat-cell *matCellDef="let element"> {{element.result}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
}