<mat-sidenav-container
  class="sidenav-container"
  (backdropClick)="drawer.toggle()"
  [hasBackdrop]="true"
>
  <mat-sidenav #drawer class="z-10 sidenav" fixedInViewport>
    <mat-toolbar class="grid place-items-center">
      <a mat-button routerLink="/" (click)="drawer.toggle()">
        <span class="text-xl tex-primary-80">Convertix</span></a
      >
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/moedas" (click)="drawer.toggle()">Moedas</a>
      <a mat-list-item routerLink="/conversor" (click)="drawer.toggle()"
        >Conversor</a
      >
      <a mat-list-item routerLink="/historico" (click)="drawer.toggle()"
        >Histórico</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <a
        color="primary"
        class="flex items-center justify-center"
        mat-button
        routerLink="/"
      >
        <!-- <app-logo-icon /> -->
        <span class="text-xl">Convertix</span>
      </a>
      <span class="spacer"></span>
      <div
        class="grid grid-cols-3 gap-2 place-items-center"
        *ngIf="isUpMedium$ | async"
      >
        <a mat-button color="primary" routerLink="/moedas">Moedas</a>
        <a mat-button color="primary" routerLink="/conversor">Conversor</a>
        <a mat-button color="primary" routerLink="/historico">Histórico</a>
      </div>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
