@use "@angular/material" as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./app/styles/m3-theme.scss";

@include mat.core();

:root {
  // tailwind theme
  --neutral-10: hsl(180, 6%, 10%);
  --neutral-40: hsl(180, 2%, 36%);
  --neutral-foreground: hsl(0, 0%, 100%);

  --primary-20: hsl(180, 100%, 11%);
  --primary-40: hsl(180, 100%, 21%);
  --primary-80: hsl(180, 100%, 43%);
  --primary-foreground: hsl(0, 0%, 100%);

  --secondary-20: hsl(180, 39%, 15%);
  --secondary-40: hsl(178, 18%, 33%);
  --secondary-foreground: hsl(0, 0%, 100%);

  --desctructive-20: hsl(357, 100%, 21%);
  --destructive-40: hsl(0, 75%, 42%);
  --destructive-foreground: hsl(0, 0%, 100%);

  @include mat.all-component-themes($theme);
  @include mat.color-variants-backwards-compatibility($theme);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #{mat.get-theme-color($theme, neutral, 10)};
  color: #{mat.get-theme-color($theme, neutral, 100)};

  // angular material toolbar style
  --mat-toolbar-container-background-color: #{mat.get-theme-color(
      $theme,
      primary,
      20
    )};

  // chip toolbar
  mat-chip {
    --mdc-chip-elevated-container-color: #{mat.get-theme-color(
        $theme,
        secondary,
        20
      )};

    --mdc-chip-label-text-color: #{mat.get-theme-color($theme, primary, 80)};
  }

  // drawer backdrop
  .mat-drawer-backdrop {
    position: fixed !important;
  }

  // table
  .mat-mdc-header-cell {
    background-color: #{mat.get-theme-color($theme, primary, 20)} !important;
    color: #{mat.get-theme-color($theme, primary, 80)} !important;
  }
}
