@use "@angular/material" as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./app/styles/m3-theme.scss";

@include mat.core();

:root {
  --primary-background: hsl(4, 90%, 58%);
  --primary-foreground: hsl(0, 0%, 100%);

  --secondary-background: hsl(36, 100%, 57%);
  --secondary-foreground: hsl(0, 0%, 100%);

  --destructive-background: hsl(12, 100%, 43%);
  --destructive-foreground: hsl(0, 0%, 100%);

  @include mat.all-component-themes($light-theme);
  @include mat.color-variants-backwards-compatibility($light-theme);

  --mat-toolbar-container-background-color: #{mat.get-theme-color(
      $light-theme,
      primary,
      90
    )};
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
